body {
  font-family: "Alkalami", serif;
  /* background: rgb(4,114,77); */
   background: linear-gradient(0deg, rgba(4,114,77,1) 10%, rgba(88,111,124,1) 80%); 
}

@font-face {
    font-family: Quick;
    src: url(font/Quick.ttf);
 }
.bar {
  height: 80px;
  width: 100%;
  color: #ffffffff;
  background-color: #26363e;
  font-family: Quick;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-warning{
    --bs-btn-bg: #80d38b;
    --bs-btn-border-color:  #80d38b;
}
.table{
    
    --bs-table-active-bg: rgb(165 17 17 / 10%);
    --bs-table-hover-bg: rgb(166 255 226 / 23%);
}

.card{
    --bs-card-bg: #ffffff47;
    --bs-card-cap-bg: rgb(163 146 146 / 3%);
}
.btn-warning{
    --bs-btn-bg: #80d38b;
    --bs-btn-border-color: #80d38b;
}
.input-group-text{
    background-color:#51ae65;
    
}
.modal-header {
    font-family: Quick;
    color: #ffffffff;
    background-color: #327c42;
}
.btn-primary{
    --bs-btn-bg: #327c42;
    --bs-btn-border-color: #327c42;
}
